<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for p in appeals %}
        <h4>Номер обращения</h4>
        {{p.number}}
        <h4>Имя заявителя</h4>
        {{p.declarer.name}}
        <h4>Время обращения</h4>
        {{p.created}}
        <h4>количество пострадавших</h4>
        {{p.casualties}}
        <h4>Не звонить</h4>
        {{p.dont_call}}
        <h4>Описание</h4>
        {{p.description}}
        {% if service %}
        <h4>Экстренные службы</h4>
            <ol>
                {% for s in service %}
                    <li>{{s.name}}</li>
                {% endfor %}
            </ol>
        {% else %}
            <h4>Экстренные службы не назначины</h4>
        {% endif %}
    {% endfor %}
</body>
</html>