{% extends 'core/base.html' %}

{% block content %}
    <ol>
        {% for i in appeals %}
        <li><a href="/appeals/{{i.pk}}">{{i.number}}</a></li>
            <ol>
            {% for s in i.services.all %}
            <li>{{s}}</li>
            {% empty %}
            <p>Не назнач</p>
            {% endfor %}
            </ol>
        {% endfor %}
    </ol>
    <h5>Среднее количество экс служб: </h5>
    <h5>Количество обращений: {{ appeals|length }}</h5>
{% include "core/footer.html" with year=y %}
{% endblock %}
