{% extends 'core/base.html' %}

{% block content %}
    <ol>
        {% for i in a %}
        <li><a href="/appeals/{{i.pk}}">{{i.number}}</a></li>
        {% endfor %}
    </ol>
    {% for p in appeals %}
        <h4>Номер обращения: {{p.number}}</h4>
        <h4>Имя заявителя: {{p.declarer.name}}</h4>
        <h4>Время обращения: {{p.created|date:"D d M Y"}}</h4>
        <h4>Прошло с обращения: {{p.created|timesince}}</h4>
        <h4>количество пострадавших: {{p.casualties}}</h4>
        <h4>Не звонить: {{p.dont_call|yesno:"Да,Нет"}}</h4>
        <h4>Описание</h4>
        {% if p.description %}
        {{p.description}}
        {% else %}
        <h5>Описания нет</h5>
        {% endif %}
        {% if p.services %}
        <h4>Экстренные службы: {{p.services.all|join:', '|upper}}</h4>
        {% else %}
        <h5>Служб нет</h5>
        {% endif %}
    <br><a href="/edit_appeal/{{p.pk}}">Редактирование</a>
    {% endfor %}
{% endblock %}