{% extends 'core/base.html' %}

{% block content %}
    <ol>
        {% for i in a %}
        <li><a href="/appeals/{{i.pk}}">{{i.number}}</a></li>
        {% endfor %}
    </ol>
    {% for p in appeals %}
        <h4>Номер обращения</h4>
        {{p.number}}
        <h4>Имя заявителя</h4>
        {{p.declarer.name}}
        <h4>Время обращения</h4>
        {{p.created}}
        <h4>количество пострадавших</h4>
        {{p.casualties}}
        <h4>Не звонить</h4>
        {{p.dont_call}}
        <h4>Описание</h4>
        {% if p.description %}
        {{p.description}}
        {% else %}
        <h5>Описания нет</h5>
        {% endif %}
        <h4>Экстренные службы</h4>
        {% for s in service %}
        <li>{{s.name}}</li>
        {% empty %}
        <h5>Не назначенны</h5>
        {% endfor %}
    {% endfor %}
{% endblock %}