{% extends 'core/base.html' %}


{% block content %}
    <h4>список заявителей</h4>
    <ol>
        {% for p in filter.qs %}
        {% if forloop.first %}
            <li><a href="/declarers/{{p.pk}}">{{p}}</a></li>Первый
        {% elif forloop.last %}
            <li><a href="/declarers/{{p.pk}}">{{p}}</a></li>Последний
        {% else %}
            <li><a href="/declarers/{{p.pk}}">{{p}}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

{% include "core/footer.html" with year=y %}
{% endblock %}

